@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald-Regular.ttf);
}

.hide{
    display:none
}
canvas{
    width: 100% !important;
    height: 50% !important;
}
#index{
    display: block;
}
body {
    background-color: rgb(239, 252, 255);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;

}
.card-text-brands{
    min-height: 80px;
}
p {
    font-family: 'OpenSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
.gallery-img{
    margin-top:8px
}
#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.carousel-item img{
    height:100%;
    width:100%
}
.carousel-caption{
    bottom:200px;text-align: left;width:30%
}
#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(239, 252, 255);
 }

 .card-text {
    font-size: 13px;
 }

.logo {
    margin-top: 3px;
    }
    
    .logo h1 {
    font-family: cocaColaFont; 
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    }
    
    .logo h2 {
    font-family: cocaColaFont;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
    }
    
    .logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    }
    
    .logo p {
    font-size: 7px; 
    margin-top: 22px; 
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
    }


    .navbar_coca_cola {
        background-color: #000000; 
        border-width: 0px;
        min-height: 70px;
    }

    .navbar_coca_cola .navbar-brand {
        color: rgb(245, 235, 235);
    }

    .navbar_coca_cola .navbar-brand:hover {
        color: rgb(128, 0, 81);
    }

 
    .navbar_coca_cola .navbar-nav > li > a {
        color: white;  
    }

   
    

    .navbar_coca_cola .navbar-nav > li > a:hover, 
    .navbar_coca_cola .navbar-nav > li > a:focus {
        color: rgb(128, 0, 81);
    }

    .navbar_coca_cola .navbar-nav .nav-item {
        margin-top: 0px;
    }

   
    .navbar_coca_cola .navbar-nav .nav-item > .active, 
    .navbar_coca_cola .navbar-nav > .active > a:hover, 
    .navbar_coca_cola .navbar-nav > .active > a:focus {
        color:  rgb(239,255,255); /* Font color for active font */
        background-color: rgb(50, 158, 255);
    }
    .navbar_coca_cola .navbar-nav > li > a{
        transition:all ease 0.5s 
    }
  
    .navbar_coca_cola .navbar-nav > li > a:hover, 
    .navbar_coca_cola  .navbar-nav > li > a:focus {
        color: rgb(128, 0, 81);
    }

    .navbar_coca_cola .navbar-toggler {
        border-color: white;
    }

    .navbar_coca_cola  .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    .navbar_coca_cola .navbar-toggler {
        outline: none !important;
    }


    .dropdown-menu {
        text-align: -webkit-left;
        background-color: #b6e7f3;
        margin-top: 20px; 
    }

    .dropdown-menu .dropdown-item {
        color: #eb0025;
    }

    .dropdown-menu .dropdown-item:hover {
        color: #030303;
        background-color: #e98074;
    }

    .footer {
        background-color: #760003; 
        height: 50px;
    }

    .footerInfo {
        margin-top: 0px;
    }
    
    .footerInfo .navbar-text {
        display: none;
    }

    .footerInfo .navbar-text > p {
        margin: 0px;
        Padding: 0px;
        color: rgb(255, 255, 255);
        font-size: 8px;
        text-decoration: none;
    }

    
    .copyright > p {
        color: rgb(255, 255, 255);
        margin: 5px;
        padding-top: 0px;
        width: 100%;
        font-size: 10px;
    }

    .social {
        margin: 0px;
        padding: 0px;
        width: 30%;   
    }

    .social > a {
        font-size: 8px;  
    }

    .social > p {
        color: rgb(255, 255, 255);
        font-size: 8px;
        text-decoration: none;
    }


    .fa-twitter-square:before {
        content: "\f081";
        color: green;
        font-size: 1em;
    }

    .fa-github-square:before {
        content: "\f092"; 
        color: yellow;
        font-size: 1em;
    }

    .fa-google-plus-square:before {
        content: "\f0d4"; 
        color: blue;
        font-size: 1em;
    }

    .fa-facebook-square:before {
        content: "\f082";
        color: red;
        font-size: 1em; 
    }

@media (min-width: 576px) { 
    body {
        background-color: rgb(202, 181, 181);
    }
    
    #main_3d_image {
        height: 288px;
    }

    #main_text {
        float: left;
        margin-top: 7%;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(202, 181, 181);
    }

    .navbar_coca_cola {
        min-height: 90px;
    }

    .footer {
        background-color: #4776cc; 
        height: 60px;
    }

    .copyright > p {
        color: rgb(255, 255, 255);
        font-size: 12px;
    }

    .social {
        padding: 5px;
    }

    .social > a {
        font-size: 12px;  
    }

    .social > p {
        font-size: 12px;
    }

    .fa-twitter-square:before {
        color: rgb(216, 204, 37);
    }

    .fa-github-square:before {
        color: rgb(63, 61, 223);
    }

    .fa-google-plus-square:before {
        color: rgb(218, 37, 52);
    }

    .fa-facebook-square:before {
        color: rgb(38, 161, 55);
    }

}

@media (min-width: 768px) { 
    
    body {
        background-color: rgb(218, 216, 148);
    }
    
    #main_3d_image {
        height: 363px;
    }

    #main_text {
        float: left;
        margin-top: 7%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(218, 216, 148);
    }



    .logo {
        margin-top: 3px;
    }

    .logo h1 {
        font-family: cocaColaFont; 
        font-size: 41px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 43px;
        margin-top: 5px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }

    .logo h3 {
        font-size: 31px;
        margin-top: 5px;
        margin-bottom: 3px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 10px;
        margin-top: 50px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
    }

    .navbar_coca_cola {
        min-height: 90px;
    }

    .footer {
        background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        height: 70px;
    }

    .footerInfo {
        margin-top: 10px;
    }
    
    .footerInfo .navbar-text {
        display: inline;
    }

    .footerInfo .navbar-text > p {
        color: rgb(37, 8, 8);
        font-size: 12px;
    }

    .copyright > p {
        color: rgb(59, 15, 15);
        font-size: 16px;
    }

    .social {
        padding: 5px;
    }

    .social > a {
        font-size: 14px;  
    }

    .social > p {
        font-size: 14px;
    }

    .fa-twitter-square:before {
        color: rgb(37, 144, 216);
    }

    .fa-github-square:before {
        color: rgb(13, 51, 5);
    }

    .fa-google-plus-square:before {
        color: rgb(247, 232, 23);
    }

    .fa-facebook-square:before {
        color: rgb(230, 8, 8);
    }

}

@media (min-width: 992px) { 

    body {
        background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    }
    
    #main_3d_image {
        height: 450px;
    }

    #main_text {
        float: left;
        margin-top: 7%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: rgb(184, 32, 204);
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }

    .card {
        background-color: rgb(192, 224, 236);
    }

    #footerBackground {
        background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    }

    .footerInfo .navbar-text > p {
        color: rgb(240, 14, 14);
    }

    .copyright > p {
        color: white;
    }

}

@media (min-width: 1200px) { 
    #headerBackground {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }
    #main_3d_image {
        height: 550px;
    }

    #footerBackground {
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }

    body {
        background-color: rgb(228, 240, 208);
    }

    .card {
        background-color: rgb(228, 240, 208);
    }

}

@media (min-width: 1400px) { 
    #main_3d_image {
        height: 600px;
    }
    #headerBackground {
        background-image:linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
     
    }
    #footerBackground {
        background-image:linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    }

    .card {
        background-color: rgba(234, 234, 234, 0.5);
    }

 }
 .video{
    width: 100%;margin:auto;display: flex;justify-content: center;padding: 100px 0px;background:rgba(255,255,255,0.4);box-sizing: border-box;
 }
 #gallery_content{
    /* display: flex; */
    /* padding: ; */
    margin: 0 auto;
    width: 1200px;
    /* gap:15px; */
    /* justify-content: flex-start;
    flex-direction: column;
    flex-flow: column wrap; */
    /* height: 1200px; */
    column-count: 3;
        column-gap: 15px;
 }
 #gallery_content img{
    width: 100%;
    padding: 7.5px 0px;
 }
 .flow_layout{
    /* width: 390px; */
    position: relative;
 }
 .webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
 #filePicker div:nth-child(2){width:100%!important;height:100%!important;}
 .tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
button{
    transition: all ease 0.3s;
}
button:hover{
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.flow_layout{
    position: relative;
}
.flow_layout img{
    cursor: pointer;
    transition: all ease 0.3s;
}


.gallery_content{
    width: 100%;
    padding: 20px 20px;
    color: rgb(243,243,243);
    background:rgba(79,79,79,0.6);
    position: absolute;
    bottom: 8px;
    left: 0px;
    display: none;
    box-sizing: border-box;
}

.gallery_author{
    font-size: 28px;
    font-weight: bold;
}
.gallery_description{
    font-size: 20px;
}
.flow_layout:hover .gallery_content{
    display: block;
}
.deleteGallery{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.loadingToast{
    color:rgb(79,79,79);font-size:24px;background:rgba(243,243,243,0.6);position: fixed;left:0px;top:0px;overflow:hidden;width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;
}
